body{
    font-family: 'David Libre', serif;
    background-color:#f4f8fb;
}

.details{
    color:#404040 ;
}

.details:hover{
    color:#32c69a ;

}

.subtotal-div{
    background-color:white ;
   
}

.proceed-btn{
    background-color:#32c69a;
    color: white;
}

