/* span:hover {
    color: #32c69a;
} */

#add-cart {
    background: #32c69a;
    color:white;
}

#add-cart:hover {
    background: white;
    border-color: #32c69a;
    color: #32c69a;
}

.remove:hover {
    background: white;
    border-color: rgb(201, 4, 4);
    color: rgb(201, 4, 4);
}

.row {
    flex-wrap: nowrap;
}