body {
    clear: both;
    box-sizing: border-box;
}

.headerbg {
    background: url("https://i.pinimg.com/originals/f7/7a/7a/f77a7a346d6270e63c1489bef6f25a3d.jpg");
    background-size: cover;
    position: relative;
    height: 720px;
}

.headerbg .overlay {
    position: absolute !important;
    width: 100%;
    height: 100%;
    background-color: rgb(149 218 197 / 60%);
}

.card {
    position: relative;
    width: 380px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.card-small {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    border: 1px solid rgb(224, 221, 221);
    background-color: white;
}

.greeting {
    margin-top: 5%;
}

p {
    margin-bottom: 0;
}

form {
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

button[type=submit]:hover {
    background-color: #32c69a;
}

.link {
    text-decoration: none;
    color: #32c69a;
}