<footer class="fixed-bottom" style="margin-top: 10px;">
  <div class="grid-fluid">
    <div class="footer-block">
        <ul>
            <li>
              <a [routerLink]="['']" routerLinkActive="router-link-active" class="link d-none d-sm-flex" style="font-size: 18px;">Term of services</a>
              <a [routerLink]="['']" routerLinkActive="router-link-active" class="link d-flex d-sm-none" style="font-size: 11px;">Term of services</a>
            </li>
        </ul>
    </div>
    <div class="footer-block">
        <ul>
          <li>
            <a [routerLink]="['']" routerLinkActive="router-link-active" class="link d-none d-sm-flex" style="font-size: 18px;">Privacy Policy</a>
            <a [routerLink]="['']" routerLinkActive="router-link-active" class="link d-flex d-sm-none" style="font-size: 11px;">Privacy Policy</a>
          </li>
        </ul>
    </div>
     <div class="footer-block">
        <ul>
          <li>
            <a [routerLink]="['']" routerLinkActive="router-link-active" class="link d-none d-sm-flex" style="font-size: 18px;">Accessibility</a>
            <a [routerLink]="['']" routerLinkActive="router-link-active" class="link d-flex d-sm-none" style="font-size: 11px;">Accessibility</a>
          </li>
        </ul>
    </div>
  </div>
  

  <div class="text-center p-1 text-white" style="background-color: #32c69a;">
    © 2020 - 2021 @<a class="text-white" style="text-decoration: none;" href="#">Shefaa</a>
  </div>
</footer>


