<div>
    <div class="headerbg">
        <div class="overlay">
            <div class=" card row mt-5 d-none d-md-flex">
                <h4 class="text-center greeting">Reset your password!</h4>
                <form [formGroup]="formGroup">

                    <div class="form-group">
                        <label for="pwd">New password:</label>
                        <input formControlName="password" type="password" class="form-control" placeholder="Enter new password" id="pwd">

                        <div *ngIf="formGroup.controls['password'].invalid && formGroup.controls['password'].dirty ">
                            <small class="form-text text-danger " *ngIf="formGroup.controls['password'].hasError( 'required') ">Password is required!</small>
                            <small class="form-text text-danger " *ngIf="formGroup.controls['password'].hasError( 'minLength') ">min length is 6</small>
                            <small class="form-text text-danger " *ngIf="formGroup.controls['password'].hasError( 'maxlength') ">max length is 40</small>
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <label for="pwd2">Confirm password:</label>
                        <input type="password" #inputPassword (change)="change(inputPassword.value)" class="form-control" placeholder="Enter password" id="pwd2">
                    </div>

                    <div class="text-center"><button type="submit" (click)="Verify()" class="btn btn-outline-primary">Login</button></div><br>
                </form>
            </div>
            <div class=" card-small row mx-auto  d-flex d-md-none">
                <h6 class="text-center greeting">Reset your password!</h6>
                <form [formGroup]="formGroup">

                    <div class="form-group">
                        <label for="pwd">New password:</label>
                        <input formControlName="password" type="password" class="form-control" placeholder="Enter new password" id="pwd">

                        <div *ngIf="formGroup.controls['password'].invalid && formGroup.controls['password'].dirty ">
                            <small class="form-text text-danger " *ngIf="formGroup.controls['password'].hasError( 'required') ">Password is required!</small>
                            <small class="form-text text-danger " *ngIf="formGroup.controls['password'].hasError( 'minLength') ">min length is 6</small>
                            <small class="form-text text-danger " *ngIf="formGroup.controls['password'].hasError( 'maxlength') ">max length is 40</small>
                        </div>

                    </div>
                    <div class="form-group mb-2">
                        <label for="pwd2">Confirm password:</label>
                        <input type="password" #inputPassword (change)="change(inputPassword.value)" class="form-control" placeholder="Enter password" id="pwd2">
                    </div>

                    <div class="text-center"><button type="submit" (click)="Verify()" class="btn btn-outline-primary">Login</button></div><br>
                </form>
            </div>
        </div>
    </div>
</div>

<app-registeration-footer></app-registeration-footer>

<!-- </div>
<div class="form-group">
    <label for="pwd2">Confirm password:</label>
    <input type="text" #inputPassword (change)="change(inputPassword.value)" class="form-control"
        placeholder="Enter password" id="pwd2">
</div><br>

<button type="submit" (click)="Verify()"
    class="btn btn-outline-primary btn-block">Login</button><br>
</form>
</div>
</div> -->