<app-header></app-header>

<div style="background-color: #f4f8fb;">
    <div class="d-flex justify-content-center">
  
      <div class="col-sm-8 shadow " style="background-color: white; margin-top: 100px; margin-bottom: 20px;">
        <div class=" w-100 " *ngIf="product">
          <form class="p-4 " [formGroup]="formGroup">
            <h3>Update Product</h3>
            <div>
              <div class="form-group" style="width:60%">
                <label>Photo URL</label>
                <textarea #inputPhotoURL formControlName="Photo" class="form-control" placeholder="Photo URL" [(ngModel)]="product.photoURL"></textarea>
  
                <div *ngIf="formGroup.controls['Photo'].invalid && formGroup.controls['Photo'].dirty">
                  <small class="form-text text-danger" *ngIf="formGroup.controls['Photo'].hasError('required')">Photo URL is required!</small>
                </div>
              </div>
  
              <div class="form-group" style="width:60%">
                <label>Name</label>
                <input #inputName formControlName="Name" class="form-control" placeholder="Product Name" [(ngModel)]="product.name">
  
                <div *ngIf="formGroup.controls['Name'].invalid && formGroup.controls['Name'].dirty">
                  <small class="form-text text-danger" *ngIf="formGroup.controls['Name'].hasError('required')">Name is required!</small>
                </div>
              </div>
  
              <div class="form-group" style="width:60%">
                <label>Descreption</label>
                <textarea #inputDescription class="form-control" placeholder="Descreption" [(ngModel)]="product.description"></textarea>
  
                <!-- <div *ngIf="formGroup.controls['Descreption'].invalid && formGroup.controls['Descreption'].dirty">
                  <small class="form-text text-danger" *ngIf="formGroup.controls['Descreption'].hasError('required')">Descreption is required!</small>
                </div> -->
              </div>
  
              <div class="form-group" style="width:60%">
                <label>Title</label>
                <input #inputTitle class="form-control" placeholder="Title" [(ngModel)]="product.title">
  
                <!-- <div *ngIf="formGroup.controls['Title'].invalid && formGroup.controls['Title'].dirty">
                  <small class="form-text text-danger" *ngIf="formGroup.controls['Title'].hasError('required')">Title is required!</small>
                </div> -->
              </div>
  
              <div class="form-group" style="width:60%">
                <label>Indications</label>
                <textarea #inputIndications class="form-control" placeholder="Indications" [(ngModel)]="product.body"></textarea>
  
                <!-- <div *ngIf="formGroup.controls['Indications'].invalid && formGroup.controls['Indications'].dirty">
                  <small class="form-text text-danger" *ngIf="formGroup.controls['Indications'].hasError('required')">Indications are required!</small>
                </div> -->
              </div>
  
              <div class="form-group" style="width:60%">
                <label>Side Effects</label>
                <textarea #inputSideEffects class="form-control" placeholder="Side Effects" [(ngModel)]="product.sideEffects"></textarea>
  
                <!-- <div *ngIf="formGroup.controls['Effects'].invalid && formGroup.controls['Effects'].dirty">
                  <small class="form-text text-danger" *ngIf="formGroup.controls['Effects'].hasError('required')">Side Effects are required!</small>
                </div> -->
              </div>
  
              <div class="form-group" style="width:60%">
                <label>Price</label>
                <input #inputPrice formControlName="Price" class="form-control" placeholder="Price" [(ngModel)]="product.price">
  
                <div *ngIf="formGroup.controls['Price'].invalid && formGroup.controls['Price'].dirty">
                  <small class="form-text text-danger" *ngIf="formGroup.controls['Price'].hasError('required')">Price is required!</small>
                </div>
              </div>
  
              <div class="form-group" style="width:60%">
                <label>Quantity</label>
                <input #inputQuantity formControlName="Quantity" class="form-control" placeholder="Quantity" [(ngModel)]="product.quantity">
  
                <div *ngIf="formGroup.controls['Quantity'].invalid && formGroup.controls['Quantity'].dirty">
                  <small class="form-text text-danger" *ngIf="formGroup.controls['Quantity'].hasError('required')">Quantity is required!</small>
                </div>
              </div>
  
              <div class="form-group" style="width:60%">
                <label>Category</label>
                <input #inputCategory formControlName="Category" class="form-control" placeholder="Category" [(ngModel)]="product.category">
  
                <div *ngIf="formGroup.controls['Category'].invalid && formGroup.controls['Category'].dirty">
                  <small class="form-text text-danger" *ngIf="formGroup.controls['Category'].hasError('required')">Category is required!</small>
                </div>
              </div>
  
              <button (click)="updateproduct(product._id,inputPhotoURL.value,inputName.value,inputDescription.value,inputTitle.value,inputIndications.value,
              inputSideEffects.value,inputPrice.value,inputQuantity.value,inputCategory.value)" class="btn add-btn">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<app-footer></app-footer>
