/* body {
    clear: both;
    box-sizing: border-box;
}

.container {
    position: relative;
    margin-top: 10%;
} */

.headerbg {
    background: url("https://i.pinimg.com/originals/f7/7a/7a/f77a7a346d6270e63c1489bef6f25a3d.jpg");
    background-size: cover;
    position: relative;
    height: 720px;
}

.headerbg .overlay {
    position: absolute !important;
    width: 100%;
    height: 100%;
    background-color: rgb(149 218 197 / 60%);
}

.card {
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
}

.card-small {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    border: 1px solid rgb(224, 221, 221);
    background-color: white;
}

.greeting {
    margin-top: 5%;
}


/* form {
    width: auto;
    margin: 20px;
} */

label {
    color: rgb(99, 97, 97);
}

button[type=submit]:hover {
    background-color: rgb(154, 243, 21);
}

.form-check span {
    float: right;
}

button[type=submit]:hover {
    background-color: #32c69a;
    color: white;
}

.link {
    text-decoration: none;
    color: #32c69a;
}


/* responsive Media */


/* Extra small devices (phones, 600px and down) */


/* @media only screen and (max-width: 600px) {
    .container {
        margin-right: auto;
    }
} */