<app-header></app-header>

<div style="margin-top: 80px;">
    <h2 class="d-flex justify-content-center" style="color: #838383;">Admins Details</h2>
    <div class="card shadow m-4 p-2" *ngFor="let admin of admins;let currentIndex=index">
        <div class="row pt-2 pb-0 ">
            <div class="col-sm-4">
                <div class="card-body py-1 text-center">
                    <h2 class="card-title d-block d-sm-none mb-1" style="color: #404040;"> {{admin.name}}</h2>
                    <h6 class="card-title d-none d-sm-block d-md-none mb-4" style="color: #404040;">{{admin.name}}</h6>
                    <h3 class="card-title  d-none d-md-block mb-1" style="color: #404040;">{{admin.name}}</h3>
                    <img *ngIf="admin.photoURL" class="card-img my-1 rounded-circle" src="http://localhost:3000/{{admin.photoURL}}" style="width: 135px; height: 135px;" alt="">
                    <img *ngIf="!admin.photoURL" class="card-img my-1 rounded-circle" src="assets/images/userAvatar.jpg" style="width: 135px; height: 135px;" alt="">
                    <br>
                    <a (click)="delete(admin.id,currentIndex)" class="btn btn-outline-secondary m-1">Delete</a>
                </div>
            </div>
            <div class="col-sm-8 d-block d-sm-none px-4">
                <div class="dropdown-divider"></div>
                <div class="card-title mb-1" style="color: #32c69a; font-size: 18px;">Email Address </div>
                <div class="card-body py-1" style="background-color: #f4f8fb; color: #838383;">
                    {{admin.email}}
                </div>
                <div class="dropdown-divider"></div>
                <div class="card-title mb-1" style="color: #32c69a; font-size: 18px;">Phone Number </div>
                <div class="card-body py-1" style="background-color: #f4f8fb; color: #838383;">
                    {{admin.phone}}
                </div>
                <div class="dropdown-divider"></div>
                <div class="card-title mb-1" style="color: #32c69a; font-size: 18px;">Address </div>
                <div class="card-body py-1" style="background-color: #f4f8fb; color: #838383;">
                    {{admin.address}}
                </div>
                <br>
            </div>
            <div class="col-sm-8 d-none d-sm-block" style="border-left: 3px dotted #32c69a;">
                <div class="card-title mb-1" style="color: #32c69a; font-size: 18px;">Email Address</div>
                <div class="card-body py-1" style="background-color: #f4f8fb; color: #838383;">
                    {{admin.email}}
                </div>
                <br>
                <div class="card-title mb-1" style="color: #32c69a; font-size: 18px;">Phone Number </div>
                <div class="card-body py-1" style="background-color: #f4f8fb; color: #838383;">
                    {{admin.phone}}
                </div>
                <br>
                <div class="card-title mb-1" style="color: #32c69a; font-size: 18px;">Address </div>
                <div class="card-body py-1" style="background-color: #f4f8fb; color: #838383;">
                    {{admin.address}}
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>