<app-header [newLength]="badgeNumber"></app-header>

<div class="container-fluid" style="background-color: #f4f8fb">
    <div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-8 mb-2">
                <div class="d-flex justify-content-center" style="margin-top: 80px;">
                    <h1>Your Cart</h1>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-sm-4 " *ngFor="let product of products; let currentIndex = index;">
                        <div class="card shadow m-2">

                            <img src="{{product.photoURL}}" class="card-img-top" style="height: 20vw;">
                            <div class="card-body">
                                <h5 class="card-text"><b><i>{{product.price}} L.E</i></b></h5>
                                <h5 class="card-title">{{product.name}}</h5>
                                <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
                                <!-- <div class=" d-flex">
                                    <label for="quantity"> Quantity: &nbsp;</label>
                                    <input style="width: 30%;" id="quantity" class="input-group-field" type="number" name="quantity" value="0">
                                </div> -->



                                <a class="details" [routerLink]="['/products/details']" [queryParams]="{ID: product._id}" routerLinkActive="router-link-active" style="text-decoration: underline;">Details</a>
                                <br>
                                <br>
                                <button (click)="delete(product._id,product.price,currentIndex)" class="btn btn-outline-danger btn-sm" id="add-btn">Remove from Cart</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class=" col-sm-3">
                <div class="d-flex justify-content-center p-3" style="margin-top: 130px;">
                    <div class=" subtotal-div p-3 shadow">
                        <div class="text-center w-100 ">
                            <div class="row justify-content-center">
                                <h4>Total Items:&nbsp;</h4>
                                <h4 style="color: darkcyan;">{{cartLength}}</h4>
                            </div>
                            <div class="row justify-content-center">
                                <h4>Subtotal:&nbsp;</h4>
                                <h4 style="color: darkcyan;">{{totalPrice}}</h4>
                            </div>
                            <button [disabled]="isDisabled" [routerLink]="['/cart/checkout']" [queryParams]="{subTotal: totalPrice}" routerLinkActive="router-link-active" class="btn proceed-btn m-2">Proceed to Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<app-footer></app-footer>