h3 {
    color: #838383;
    /* font-family: Niveau Grotesk; */
}

ul {
    padding: 0;
    margin: auto;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #838383;
}

.gmail:hover {
    color: rgb(180, 0, 0);
}

.twitter:hover {
    color: darkturquoise;
}

.facebook:hover {
    color: royalblue;
}

.linkedin:hover {
    color: blue;
}